<% provide(:title, "Библиотека") %>
<div class="row">
  <aside class="col-md-4">
	<section class="micropost_form">
	</section>
	<section>
	  <p><%= link_to "Програма для просмотра учебников", "/library/Програма для просмотра учебников.exe", :class => "btn btn-info" %></p>
	  <% if current_user.admin? %>
		<p><%= link_to "Добавить книгу", "#", :class => "btn btn-danger" %></p>
	  <% end %>
	</section>
  </aside>
  <div class="col-md-8">
	  <h3>Учебники и книги для самостоятельного изучения</h3>
	  <ul>
		<li>
		  <%= link_to "Бакулин. Организация движения поездов и работа станций метрополитена",
		              "/library/Бакулин. Организация движения поездов и работа станций метрополитена.djvu" %>
		</li>
		<li>
		  <%= link_to "Буканов. Справочник дежурного по станции.djvu",
		              "/library/Буканов. Справочник дежурного по станции.djvu" %>
		</li>
		<li>
		  <%= link_to "Дмитриев. Новые системы автоблокировки.djvu",
		              "/library/Дмитриев. Новые системы автоблокировки.djvu" %>
		</li>
		<li>
		  <%= link_to "Заглядимов. Организация движения на ЖД транспорте.djvu",
		              "/library/Заглядимов. Организация движения на ЖД транспорте.djvu" %>
		</li>
		<li>
		  <%= link_to "Зорин. Унифицированное комплексное локомотивное устройство безопасности (КЛУБ-У).djvu",
		              "/library/Зорин. Унифицированное комплексное локомотивное устройство безопасности (КЛУБ-У).djvu" %>
		</li>
		<li>
		  <%= link_to "Ковалёва. Управление эксплуатационной работой на железнодорожном транспорте. Том 1.djvu",
		              "/library/Ковалёва. Управление эксплуатационной работой на железнодорожном транспорте. Том 1.djvu" %>
		</li>
		<li>
		  <%= link_to "Ковалёва. Управление эксплуатационной работой на железнодорожном транспорте. Том 2.djvu",
		              "/library/Ковалёва. Управление эксплуатационной работой на железнодорожном транспорте. Том 2.djvu" %>
		</li>
		<li>
		  <%= link_to "Кондратьева. Устройства железнодорожной автоматики и телемеханики. Общий курс.djvu",
		              "/library/Кондратьева. Устройства железнодорожной автоматики и телемеханики. Общий курс.djvu" %>
		</li>
		<li>
		  <%= link_to "Оль. Конспект лекций по дисциплине - Общий курс железных дорог.djvu",
		              "/library/Оль. Конспект лекций по дисциплине - Общий курс железных дорог.djvu" %>
		</li>
		<li>
		  <%= link_to "Самодуров. Инфракрасные системы обнаружения перегретых букс.djvu",
		              "/library/Самодуров. Инфракрасные системы обнаружения перегретых букс.djvu" %>
		</li>
		<li>
		  <%= link_to "Шелухин. Автоматизация и механизация сортировочных горок.djvu",
		              "/library/Шелухин. Автоматизация и механизация сортировочных горок.djvu" %>
		</li>
	  </ul>
  </div>
</div>
