<section class="user_info">
  <h1>
	<%= gravatar_for current_user %>
	<%= current_user.name %>
	<%= current_user.otchestvo %>
	<%= current_user.family %>
  </h1>
</section>
<section>
  <%= link_to "Тесты", tests_path, :class => "btn btn-default btn-block" %>
  <% if current_user.type != "Corporate" %>
	<%= link_to "Для корпоративных клиентов",
                new_company_path,
	            :class => "btn btn-default btn-block" %>
  <% else %>
	<%= link_to "Компания",
	            edit_company_path(current_user.companies.first),
	            :class => "btn btn-default btn-block" %>
	<%= link_to "Сотрудники",
	            employes_path,
	            :class => "btn btn-default btn-block" %>
	<%= link_to "Добавить сотрудника",
	            employe_new_path,
	            :class => "btn btn-default btn-block" %>
  <% end %>
</section>

<% if current_user.admin? %>
  <section>
	<p class="bg-danger text-center">меню администратора</p>
	<%= link_to "Пользователи", users_path,
    :class => "btn btn-danger btn-block" %>
	<%= link_to "Тесты", tests_path, 
    :class => "btn btn-danger btn-block" %>
	<%= link_to "Видео", training_video_path, 
    :class => "btn btn-danger btn-block" %>
	<%= link_to "Курсы", courses_path,
    :class => "btn btn-danger btn-block" %>
  </section>
<% end %>
