<section class="user_info">
  <h1>
	<%= gravatar_for current_user %>
	<%= current_user.name %>
	<%= current_user.otchestvo %>
	<%= current_user.family %>
  </h1>
  <% if current_user.allow_testing %>
    тестирование разрешено
  <% else %>
    тестирование запрещено
  <% end %>
  <% if current_user.type == "Corporate" %>
    <% company = Company.find(current_user.company_id) %>
    <br>
    <strong>&laquo;<%= company.name %>&raquo;</strong>
  <% end %>
</section>
<section>
  <%= link_to "Выбрать курс", training_courses_path,
	                            :class => "btn btn-default btn-block" %>
  <% if current_user.testing_stat_attempts.count > 0 %>
	<%= link_to "Пройденные курсы", stat_courses_path(current_user),
                                :class => "btn btn-default btn-block" %>
  <% end %>
  <% if current_user.type == "Individual" %>
	<%= link_to "Для корпоративных клиентов",
                new_company_path,
	            :class => "btn btn-default btn-block" %>
  <% end %>
</section>

<% if current_user.type == "Corporate" && current_user.cadmin %>
  <section>
	<p class="bg-danger text-center">меню сотрудника по кадрам</p>
	<%= link_to "Сотрудники", employes_path, :class => "btn btn-danger btn-block" %>
	<%= link_to "Добавить сотрудника", employe_new_path,
	                                   :class => "btn btn-danger btn-block" %>
	<%= link_to "Компания", edit_company_path(current_user.companies.first),
	                        :class => "btn btn-danger btn-block" %>
  </section>
<% end %>

<% if current_user.admin? %>
  <section>
	<p class="bg-danger text-center">меню администратора</p>
	<%= link_to "Пользователи", users_path, :class => "btn btn-danger btn-block" %>
	<%= link_to "Тесты", tests_path,   :class => "btn btn-danger btn-block" %>
	<%= link_to "Видео", videos_path,  :class => "btn btn-danger btn-block" %>
	<%= link_to "Книги", books_path,   :class => "btn btn-danger btn-block" %>
	<%= link_to "Курсы", courses_path, :class => "btn btn-danger btn-block" %>
	<%= link_to "Компании", companies_path, :class => "btn btn-danger btn-block" %>
	<%= link_to "Запросы на тестирование", users_request_testing_path, :class => "btn btn-danger btn-block" %>
  </section>
<% end %>
