<% provide(:title, "Edit user") %>
<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<h3>Настройки пользователя</h3>
	<%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :Фамилия %>
	  <%= f.text_field :family, class: 'form-control' %>
	  
	  <%= f.label :Имя %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :Отчество %>
	  <%= f.text_field :otchestvo, class: 'form-control' %>
	  
	  <% unless current_user.type == "Corporate" %>
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	  <% end %>

	  <% if current_user.type != "Corporate" %>
		<%= f.label :пароль %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.label :password, "Подтверждение пароля" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	  <% end %>
	  
	  <%= f.submit "Сохранить изменения", class: "btn btn-primary" %>
	<% end %>
<!--
	<div class="gravatar_edit">
	  <%= gravatar_for @user %>
	  <a href="http://gravatar.com/emails" target="_blank">Изменить изображение</a>
	</div>
-->
  <br>
  <% if current_user.admin %>
	<%= form_for(@user, as: :user, url: users_allow_testing_path, method: :post) do |f| %>
    <% if @user.allow_testing %>
      <%= f.hidden_field :allow_testing, :value => false %>
      <%= f.submit "Запретить прохождение тестов", class: "btn btn-warning" %>
    <% else %>
      <%= f.hidden_field :allow_testing, :value => true %>
      <%= f.submit "Разрешить прохождение тестов", class: "btn btn-success" %>
    <% end %>
	<% end %>
	<% end %>
  
  </div>
</div>

