<% provide(:title, "Edit user") %>
<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<h3>Настройки пользователя</h3>
	<%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :Фамилия %>
	  <%= f.text_field :family, class: 'form-control' %>
	  
	  <%= f.label :Имя %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :Отчество %>
	  <%= f.text_field :otchestvo, class: 'form-control' %>
	  
	  <%= f.label :email %>
	  <%= f.email_field :email, class: 'form-control' %>

	  <% unless current_user.admin && @user.id != current_user.id %>
		<%= f.label :пароль %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.label :password, "Подтверждение пароля" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
	  <% end %>
	  
	  <%= f.submit "Сохранить изменения", class: "btn btn-primary" %>
	<% end %>

	<div class="gravatar_edit">
	  <%= gravatar_for @user %>
	  <a href="http://gravatar.com/emails" target="_blank">Изменить изображение</a>
	</div>
  </div>
</div>

