<% provide(:title, 'Пользователи запросившие тестирование') %>
<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th>Ф.И.О</th>
		  <th>&nbsp;</th>
		  <th>дата<br>регистрации</th>
		  <th>
			<%= link_to '<span class="glyphicon glyphicon-search"
                         aria-hidden="true"></span>'.html_safe,
						 users_search_path,
			             class: "btn btn-primary btn-xs",
			             "data-toggle" => "tooltip",
			             "data-placement" => "bottom",
			             title: "найти пользователя" %>
		  </th>
		  <th>&nbsp;</th>
		  <th>&nbsp;</th>
		  <th>&nbsp;</th>
		</tr>
	  </thead>
	  <tbody>
		<% @users.each do |user| %>
		  <tr>
			<td><%= user.family %> <%= user.name %> <%= user.otchestvo %></td>
			<td><%= user.email %></td>			
			<td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
			<td>
			  <%= link_to '<span class="glyphicon glyphicon-education"
                           aria-hidden="true"></span>'.html_safe,
						   stat_courses_path(user),
						   class: "btn btn-primary btn-xs" %>
			</td>
			<td>
			  <%= link_to '<span class="glyphicon glyphicon-pencil"
                           aria-hidden="true"></span>'.html_safe, edit_user_path(user),
	                       class: "btn btn-primary btn-xs" %>
			</td>
			<td>
			  <%= link_to '<span class="glyphicon glyphicon-remove"
                           aria-hidden="true"></span>'.html_safe,
						   user_path(user), method: :delete,
						   data: { confirm: "Вы уверены?" },
						   class: "btn btn-danger btn-xs" %>
			</td>
			<td>
			  <%= link_to '<span class="glyphicon glyphicon-user"
                           aria-hidden="true"></span>'.html_safe,
						   session_changeuser_path(user),  method: :post,
						   class: "btn btn-success btn-xs" %>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<%= will_paginate %>	
  </div>
</div>
