<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
	<section class="user_info">
	  <h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
		<%= @user.otchestvo %>
		<%= @user.family %>
	  </h1>
	</section>
	<section class="micropost_form">
	  <%= render 'shared/micropost_form' %>
	</section>
	<section>
	  <p><%= link_to "Тестирование", tests_path, :class => "btn btn-success" %></p>
	  <% if current_user.admin? %>
		<p><%= link_to "Создать тест", tests_new_path, :class => "btn btn-danger" %></p>
		<p><%= link_to "Показать всех пользователей", users_path, :class => "btn btn-danger" %></p>
	  <% end %>
	</section>
  </aside>
  <div class="col-md-8">
	<% if @user.microposts.any? %>
	  <h3>Мои сообщения (<%= @user.microposts.count %>)</h3>
	  <ol class="microposts">
		<%= render @microposts %>
	  </ol>
	  <%= will_paginate @microposts %>
	<% end %>
  </div>
</div>
