<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
	<section class="user_info">
	  <h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
		<%= @user.otchestvo %>
		<%= @user.family %>
	  </h1>
	</section>
	<section class="micropost_form">
	  <%= render 'shared/micropost_form' %>
	</section>
	<section>

	  <%= link_to "Тестирование", tests_path, :class => "btn btn-default btn-block" %>
	</section>

	<% if current_user.admin? %>
	  <section>
		<p class="bg-danger text-center">меню администратора</p>
		<%= link_to "Создать тест", tests_new_path,
		:class => "btn btn-primary btn-block" %>
		<%= link_to "Пользователи", users_path,
		:class => "btn btn-primary btn-block" %>
		<%= link_to "Тесты", tests_path, :class => "btn btn-primary btn-block" %>
	  </section>
	<% end %>

  </aside>
  <div class="col-md-8">
	<% if @user.microposts.any? %>
	  <h3>Мои сообщения (<%= @user.microposts.count %>)</h3>
	  <ol class="microposts">
		<%= render @microposts %>
	  </ol>
	  <%= will_paginate @microposts %>
	<% end %>
  </div>
</div>
