<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
	<section class="user_info">
	  <h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
		<%= @user.otchestvo %>
		<%= @user.family %>
	  </h1>
	</section>
	<section>
	  <%= link_to "Тесты", tests_path, :class => "btn btn-default btn-block" %>
	</section>

	<% if current_user.admin? %>
	  <section>
		<p class="bg-danger text-center">меню администратора</p>
		<%= link_to "Пользователи", users_path,
                                    :class => "btn btn-danger btn-block" %>
		<%= link_to "Тесты", tests_path, 
                                    :class => "btn btn-danger btn-block" %>
		<%= link_to "Видео", training_video_path, 
                                    :class => "btn btn-danger btn-block" %>
		<%= link_to "Курсы", courses_path,
                                    :class => "btn btn-danger btn-block" %>
	  </section>
	<% end %>

  </aside>
  <div class="col-md-9">
	&nbsp;
  </div>
</div>
