<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<h2><p class="text-center">Информация о компании</p></h2>
	<%= form_for(@company) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= f.label :Название_компании %>
	  <%= f.text_field :name, class: 'form-control',
		                placeholder: "введите название компании" %>

	  <%= f.label :Юридический_адрес_компании %>
	  <%= f.text_field :addr, class: 'form-control' %>
	  <%= f.label :chiefname, "Ф.И.О. руководителя" %>
	  <%= f.text_field :chiefname, class: 'form-control' %>
	  <%= f.label :Должность_руководителя %>
	  <%= f.text_field :chiefpost, class: 'form-control' %>
							
	  <%= f.submit "Сохранить", class: "btn btn-primary" %>
	<% end %>
  </div>
</div>
