<% provide(:title, "Курс") %>
<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="media">
		  <div class="media-left media-top">
			<img class="media-object" src="/75216065.png" width="64" height="64">
		  </div>
		  <div class="media-body">
			<p class="text-center">
			  <strong><h3 class="media-heading"><%= @course.name %></h3></strong>
			</p>
		  </div>
		</div>
	  </div>
	  <div class="panel-body">
		<%= @course.description.html_safe %>
	  </div>
	  <div class="panel-footer">информация о курсе</div>
	</div>
  </div>
</div>
<div class="row">
  <aside class="col-md-3">
	
  </aside>
  <div class="col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="media">
		  <div class="media-left media-top">
			<img class="media-object" src="/iBooksBlue.png" width="64" height="64">
		  </div>
		  <div class="media-body">
			<p class="text-center">
			  <h2 class="media-heading">Учебные материалы курса</h2>
			</p>
		  </div>
		</div>
	  </div>
	  <div class="panel-body">

		<!-- видео -->
		<div class="row">
		  <% @videos.each do |video| %>
			<div class="col-md-6">
			  <div class="thumbnail">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item"
					  src="<%= video.youtubelink %>"></iframe>
				</div>
				<div class="caption">
				  <h3>Видео</h3>
				  <p><%= video.name %></p>
				</div>
			  </div>
			</div>
		  <% end %>
		</div>
		
		<!-- литература -->
		<div class="row">
		  <% @books.each do |book| %>
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <img src="http://www.indiaparenting.com/tpl/images/ipapp/Stories%20&%20Legends.png" alt="..." width="64" height="64">
			  <div class="caption">
				<h3>Лекция</h3>
				<p><%= book.name %></p>
				<p>
				  <%= link_to "Скачать", book.file.url,
				              class: "btn btn-primary",
				              role: "button" %>
				  <%= link_to "Читать", book.file.url,
				              class: "btn btn-primary",
				              role: "button" %>
			  </div>
			</div>
		  </div>
		  <% end %>
		</div>
	  </div>
	  <div class="panel-footer">учебные материалы</div>
	</div>
  </div>
  
</div>
<div class="row">
  <aside class="col-md-3">
  </aside>
  <div class="col-md-9">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<div class="media">
		  <div class="media-left media-top">
			<img class="media-object" src="/test-icon-20914.png" width="64" height="64">
		  </div>
		  <div class="media-body">
			<p class="text-center">
			  <strong><h3 class="media-heading">Контрольные тесты</h3></strong>
			</p>
		  </div>
		</div>
	  </div>
	  <div class="panel-body">
		  <% @tests.each do |test| %>
		  <div class="row">
			<div class="col-md-1"><%= test.id %></div>
			<div class="col-md-9"><%= test.name %></div>
			<div class="col-md-2">
			  <% first_question = test.test_questions.all.order(:id => "asc")[0] %>
			  <% if current_user.type == "Corporate" %>
				<%= link_to "пройти тест", enterprise_testing_employe_select_path(@course,test),
				:class=>"btn btn-primary btn-xs" %>
			  <% else %>
				<%= link_to "пройти тест", testing_new_path(test, first_question),
				:class=>"btn btn-primary btn-xs" %>
			  <% end %>
			</div>
		  </div>
		  <% end %>
	  </div>
	  <div class="panel-footer">тесты</div>
	</div>
  </div>
</div>
