<% provide(:title, 'Новый тест') %>
<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
  </aside>
  <div class="col-md-9">
	<h1>
	  <p class="text-center">Создание нового теста</p>
	</h1>
    <%= form_for(@test) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>      
      <%= f.label :name, "Название" %>
      <%= f.text_field :name, class: "form-control input-lg",
		:placeholder => "введите название теста" %>
      <%= f.submit "Создать", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
