<div class="row">
  <aside class="col-md-3">
	<%= render "users/left_menu" %>
	</aside>
	<div class="col-md-9">
<h4><p class="text-center">Выполняется прохождение теста</p></h4>
<h2><p class="text-center"><%= @test.name %></p></h2>

<div class="bs-callout bs-callout-info">
  <div class="pull-right"><p class="text-muted">ВОПРОС<p></div>
  <p class="h2">
	<%= @question.question %>
  </p>
</div>

<% if @question.picture.exists? %>
  <div class="jumbotron">
    <img src="<%= @question.picture.url(:medium) %>" class="img-rounded center-block" alt="Responsive image">
  </div>
<% end %>

<%= form_tag(testing_result_create_path(@user,@course,@test,@question)) do -%>
  <div class="bg-danger bs-callout bs-callout-danger">
	<div class="pull-right"><p class="text-muted">ВАРИАНТЫ ОТВЕТОВ</p></div>
	<% @answers.each do |answer| %>
	<p class="lead">
	  <label class="checkbox-inline">
		<input type="checkbox" name="answers[<%= answer.id %>]"
			                  value="SELECTED" >&nbsp;
	  </label>
	  <%= answer.ans_text %>
	</p>
	<% end %>

	<footer>
	  поставьте галочку рядом с <cite title="Source Title">правильным</cite> 
	  ответом и нажмите кнопку дальше.
	</footer>

  </div>

  <%= submit_tag "Дальше", class: "btn btn-success btn-lg active" %>
<% end -%>
</div>
</div>
