<h4><p class="text-center">Выполняется прохождение теста</p></h4>
<h2><p class="text-center"><%= @test.name %></p></h2>

<div class="bs-callout bs-callout-info">
  <div class="pull-right"><p class="text-muted">ВОПРОС<p></div>
  <p class="h2">
	<%= @question.question %>
  </p>
</div>


<%= form_tag(testing_result_create_path(@test, @question)) do -%>
  <div class="bg-danger bs-callout bs-callout-danger">
	<div class="pull-right"><p class="text-muted">ВАРИАНТЫ ОТВЕТОВ</p></div>
	<% @answers.each do |answer| %>
	<p class="lead">
	  <label class="checkbox-inline">
		<input type="checkbox" name="answers[<%= answer.id %>]"
			                  value="SELECTED" >&nbsp;
	  </label>
	  <%= answer.ans_text %>
	</p>
	<% end %>

	<footer>
	  поставьте галочку рядом с <cite title="Source Title">правильным</cite> 
	  ответом и нажмите кнопку дальше.
	</footer>

  </div>

  <% if @last_question.id == @question.id %>
	<div class="bg-danger bs-callout bs-callout-danger">
	  <div class="pull-left"><p class="text-muted">Это последний вопрос, введите свои Фамилию Имя Отчество если вы проходите тест используя учётную запись другого человека</p></div>
	  <%= text_field_tag :comment, nil, class: 'form-control' %>
	</div>
  <% end %>
  <%= submit_tag "Дальше", class: "btn btn-success btn-lg active" %>
<% end -%>
