<h4><p class="text-center">Результат прохождения теста</p></h4>
<h2><p class="text-center"><%= @test.name %></p></h2>

<div class="bs-callout bs-callout-info">
  <div class="row">
	<div class="col-xs-8 col-sm-6">
	  <p class="h3">
		Всего вопросов:
	  </p>
	</div>
	<div class="col-xs-4 col-sm-6">
	  <p class="h3"><%= @numquest %></p>
	</div>
  </div>
  <div class="row">
	<div class="col-xs-8 col-sm-6">
	  <p class="h3">
		Правильных ответов:
	  </p>
	</div>
	<div class="col-xs-4 col-sm-6">
	  <p class="h3"><%= @numcorrectansw %></p>
	</div>
  </div>
  <div class="row">
	<div class="col-xs-8 col-sm-6">
	  <p class="h2">
		Оценка за прохождение теста:
	  </p>
	</div>
	<div class="col-xs-4 col-sm-6">
	  <p class="h2"><%= @assessment %></p>
	</div>
  </div> 
</div>

  <%= link_to "Посмотреть подробности ответов", testing_details_path(@test), class: "btn btn-primary" %>
