<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Центр ПИК", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
		  <li><%= link_to "Библиотека",  library_path %></li>
		  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.family + ' ' +
			      current_user.name[0] + '.' +
				  current_user.otchestvo[0] + '.' %> <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
			  <li><%= link_to "Моя страница", current_user %></li>
			  <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
			  <% if current_user.admin? %>
				<li class="divider"></li>
				<li><%= link_to "Пользователи", users_path %></li>
				<li><%= link_to "Курсы", courses_path %></li>
				<li><%= link_to "Тесты", tests_path %></li>
				<li><%= link_to "Видео", training_video_path %></li>
			  <% end %>
			  <li class="divider"></li>
			  <li><%= link_to "Выход", logout_path, method: "delete" %></li>
            </ul>
		  </li>
        <% else %>
		  <li><%= link_to "Главная", root_path %></li>
		  <li><%= link_to "Дистанционное обучение", dlearning_path %></li>
		  <li><%= link_to "Контакты",  contact_path %></li>
		  <li><%= link_to "Вход", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
