<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                          "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="keywords" content="дистанционное, удалённое, обучение, учебный, центр, ПИК, Краснодар, курсы, рабочие, специальность">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
	  <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
	<%= render 'layouts/yandex_metrika_counter' if Rails.env.production? %>
  </body>
</html>
